<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<script src="jquery.js"></script>
	<script type="text/javascript" src="echarts.common.min.js"></script>
	<script type="text/javascript" src="echarts.min.js"></script>
	<link rel="stylesheet" type="text/css" href="mainstyle.css">
	<title>Credit Card Manager</title>
	
</head>
<body>
	<div class="webTitle"><p style="font-size: 5rem;">卡片信息</p></div>
	<div id="buttons" class="buttonArray">
		<table class="tableDetail">
			<tr>
				<td align="center"><button class="buttonSingle" onclick="hrefBills()">账单日</button></td>
				<td align="center"><button class="buttonSingle" onclick="hrefPayday()">还款日</button></td>
				<td align="center"><button class="buttonSingle" onclick="hrefFreeday()">免息日</button></td>
			</tr>
		</table>
	</div>
	<div id="main" style="width: 65rem;height:250rem;"></div>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>